<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Eau Claire's HairSalon Tracker</title>
  <link rel="stylesheet" href="~/css/output.css">
</head>

<body class="bg-slate-50">
  @await Html.PartialAsync("Navbar")
  <div class="container relative mx-auto flex flex-col items-center justify-center h-screen bg-white">
    @RenderBody()
    @* @await Html.PartialAsync("Footer") *@
  </div>
  @await Html.PartialAsync("Footer")
</body>

</html>