<nav class="d-flex justify-content-around w-75">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Stylists", "Index", "Stylist")</p>
  <p>@Html.ActionLink("Clients", "Index", "Client")</p>
</nav>
