<nav class="container sticky top-0 z-50 mx-auto flex justify-end gap-3 px-4 py-2 items-center bg-slate-50">
  <p class="text-sm border rounded-full px-3 py-1 bg-orange-200 hover:bg-orange-400 hover:border-orange-400 border-orange-200 hover:text-white shadow-sm">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="text-sm border rounded-full px-3 py-1 bg-orange-200 hover:bg-orange-400 hover:border-orange-400 border-orange-200 hover:text-white shadow-sm">@Html.ActionLink("Stylists", "Index", "Stylists")</p>
  <p class="text-sm border rounded-full px-3 py-1 bg-orange-200 hover:bg-orange-400 hover:border-orange-400 border-orange-200 hover:text-white shadow-sm">@Html.ActionLink("Clients", "Index", "Clients")</p>
  <p class="text-sm border rounded-full px-3 py-1 bg-orange-200 hover:bg-orange-400 hover:border-orange-400 border-orange-200 hover:text-white shadow-sm">@Html.ActionLink("Appointments", "Index", "Appointments")</p>
</nav>
