@{
  Layout="_Layout";
}
@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>Stylist @Html.DisplayFor(model => model.Name)</h1>

@if (Model.Clients.Count == 0)
{
  <p>There are no clients added.</p>
}
else
{
  <ul>
    <h3>Clients: </h3>
    @foreach(Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink($"Edit Stylist {Model.Name}", "Edit", new { id = Model.StylistId })</p>
@using (Html.BeginForm("Delete", "Stylists", routeValues: new { id = Model.StylistId }))
{
  <input type="Submit" value="Delete" class="">
}