@{
  Layout="_Layout";
}
<h1 class="text-5xl py-10">Welcome to Eau Claire's Salon</h1>
<section class="flex flex-col items-center text-lg">
  <p>This is a website for you to track all your stylists and their clients.</p>
  <p>Use the navigation bar on top to navigate</p>
</section>