@{
  Layout="_Layout";
}
@model HairSalon.Models.Client

<h1>Client @Html.DisplayFor(model => model.Name)</h1>

<h3>Client Info</h3>
<p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>

<p>@Html.ActionLink($"Edit Client", "Edit", new { id = Model.ClientId })</p>
@using (Html.BeginForm("Delete", "Clients", routeValues: new { id = Model.ClientId }))
{
  <input type="submit" value="Delete" class="">
}
