@{
  Layout="_Layout";
}
@using HairSalon.Models
<div class="w-2/3 flex flex-col items-center">
  <h1 class="text-5xl py-10">Client Database</h1>
  @if (Model.Count == 0)
  {
    <p class="text-xl">There are no clients.</p>
  }
  else
  {
    <table class="mx-auto w-full shadow-inner text-center capitalize text-lg">
      <tr>
        <th class="py-2 font-light border-r-2">Client</th>
        <th class="font-light">Stylist</th>
      </tr>
      @foreach(Client client in Model)
      {
        <tr class="hover:bg-slate-50 hover:font-semibold">
          <td class="py-2">@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</td>
          <td>@Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new { id = client.Stylist.StylistId })</td>
        </tr>
      }
    </table>
  }
  <div class="flex gap-3 px-4 py-2">
    <p class="text-md border rounded-full mt-5 px-3 py-1 bg-slate-50 hover:bg-slate-300 hover:border-slate-300 border-slate-50 hover:text-white shadow-md">@Html.ActionLink("Add Client", "Create")</p>
  </div>
</div>