@{
  Layout="_Layout";
}
@using HairSalon.Models

<h1>Client Database</h1>

@if (Model.Count == 0)
{
  <p>There are no clients.</p>
}
else
{
  <table class="mx-auto my-4">
    <tr>
      <th>Client</th>
      <th>Stylist</th>
    </tr>
    @foreach(Client client in Model)
    {
      <tr>
        <td>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</td>
        <td>@Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new { id = client.Stylist.StylistId })</td>
      </tr>
    }
  </table>
}
<p>@Html.ActionLink("Add Client", "Create")</p>